/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #0050a2;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.banner img {
    width: 100%;
    height: auto;
}

.conteudo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify
}

.conteudo > h1 {
    text-align: center;
}

footer {
    background-color: #0050a2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.animation {
    width: 100px;
    height: 100px;
    background-color: #0050a2;
    animation: example 2s infinite alternate;
}

@keyframes example {
    from {transform: scale(1);}
    to {transform: scale(1.4);}
}

/* Ajuste  de imagens */
.imagem_destaque{
    width: 100%;
}

.imagens {
    width: 80%;
}

.centralizado {
    text-align: center;
}

.centralizado img {
    display: inline-block;
    margin: 0 auto;
}

.animation_logo {
    width: 100%;
}

.justify {
    text-align: justify;
}